* {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            font-size: 14px;
            font-family: 'Microsoft Yi Baiti';
            height: 100%;
            width: auto;
        }

        .text {
            width: 200px;
            height: 25px;
        }

        #container {
            width: 80%;
            height: 690px;
            margin: 0 auto;
            position: relative;
            text-align: center;
        }

        #Login {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            color: white;
            width: 300px;
            height: 300px;
            padding: 100px;
            border-radius: 10px;
            background-color: #ff6a00;
        }

        .label {
            font-size: 20px;
        }

        #btnLogon {
            width: 60px;
            height: 35px;
            border-radius: 6px;
            position: relative;
            left: 5px;
            background-color: #dbf2f3;
            cursor: pointer;
        }

        .btnRegin {
            display: inline-block;
            width: 60px;
            height: 35px;
            text-decoration: none;
            border-radius: 6px;
            background-color: #dbf2f3;
            color: black;
            line-height: 35px;
            position: relative;
            left: 40px;
        }
